In [ ]:
### import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules, apriori

In [ ]:
## import the data
data=pd.read_csv('/content/mugs_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
### view the data
data.head()

     BRAND                    DESCRIPTION  ...  WEEK month
0  KENSTAR        KENSTAR LOVELY MUG #903  ...    14     3
1      HSM   HSM PORCELAIN 10 OZ MUG 1934  ...    14     3
2      HSM   HSM PORCELAIN 10 OZ MUG 1934  ...    14     3
3      NEW     NEW MORNING WHITE MUG 32CL  ...    14     3
4     NICE  NICE MUG BYD-CUP-4002-1 PROMO  ...    14     3

[5 rows x 12 columns]

In [ ]:
# tail of the data
data.tail()

          BRAND                       DESCRIPTION  ...  WEEK month
145786  ESSENCE              ESSENCE FLO MUG 32CL  ...    14     4
145787   MIXXOS  MIXXOS COFFEE MUG PORCELAIN A-18  ...    14     4
145788   MIXXOS      MIXXOS PORCELAIN C/ MUG A-10  ...    14     4
145789  KENPOLY             KENPOLY BEER MUG #326  ...    14     4
145790  KENSTAR           KENSTAR COFFEE MUG #901  ...    14     4

[5 rows x 12 columns]

In [ ]:
## the number of columns and rows
data.shape

(145791, 12)

In [ ]:
### the data info..
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145791 entries, 0 to 145790
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BRAND          145791 non-null  object
 1   DESCRIPTION    145791 non-null  object
 2   TRANSACTIONID  145791 non-null  int64
 3   RECEIPTID      145791 non-null  object
 4   STORE          145791 non-null  object
 5   QUANTITY       145791 non-null  int64
 6   PRICE          145791 non-null  int64
 7   GROSSAMOUNT    145791 non-null  float64
 8   ID             145791 non-null  int64
 9   MEMBERID       103284 non-null  object
 10  WEEK           145791 non-null  int64
 11  month          145791 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 13.3+ MB

In [ ]:
### looking for null values
## the null values in memberID is non loyal customers
data.isnull().sum()

BRAND                0
DESCRIPTION          0
TRANSACTIONID        0
RECEIPTID            0
STORE                0
QUANTITY             0
PRICE                0
GROSSAMOUNT          0
ID                   0
MEMBERID         42507
WEEK                 0
month                0
dtype: int64

In [ ]:
## Unique transactions
transaction_list = []
for i in data['RECEIPTID'].unique():
    tlist = list(set(data[data['RECEIPTID']==i]['DESCRIPTION']))
    if len(tlist)>0:
        transaction_list.append(tlist)
print(len(transaction_list))

116773

In [ ]:
# transforming the data into transactional data
x=TransactionEncoder()
y=x.fit(transaction_list).transform(transaction_list)
df=pd.DataFrame(y,columns=x.columns_)
df

        ADIX KINSASA MUG  ...  ZTL DIAMOND MUG PROMO PACK
0                  False  ...                       False
1                  False  ...                       False
2                  False  ...                       False
3                  False  ...                       False
4                  False  ...                       False
...                  ...  ...                         ...
116768             False  ...                       False
116769             False  ...                       False
116770             False  ...                       False
116771             False  ...                       False
116772             False  ...                       False

[116773 rows x 382 columns]

In [ ]:
### the frequency using apriori..

freq = apriori(df,min_support=0.001, use_colnames=True)
freq

      support                                           itemsets
0    0.019088                                      (ADIX OK MUG)
1    0.002638                        (ARCOPAL CLEAR 25CL MUG R6)
2    0.006440                             (B/BUY MELAMINE MUG 1)
3    0.003246                     (B/BUY PORC. COFFEE MUG #1744)
4    0.002723                     (B/BUY PORC. COFFEE MUG M/S 3)
..        ...                                                ...
188  0.002603              (THERMOS TRAVEL MUG 450ML RED DF4000)
189  0.002355              (THERMOS TRAVEL MUG 450ML SBK DF4000)
190  0.037029                           (TRIANON WHITE MUG 29CL)
191  0.001824  (KENSTAR LOVELY MUG #903, KENSTAR COFFEE MUG #...
192  0.004410  (NICE MUG BYD-CUP-4002-1 PROMO, NICE MUG BYD-C...

[193 rows x 2 columns]

In [ ]:
#### including the number  of the items purchased per transaction
#### including the number  of the items purchased per transaction
freq['number of items']=freq['itemsets'].apply(lambda x:len(x))
freq.sort_values(by='support',ascending=0).head(20)

      support                          itemsets  number of items
85   0.067199         (KENSTAR LOVELY MUG #903)                1
190  0.037029          (TRIANON WHITE MUG 29CL)                1
83   0.036875         (KENSTAR COFFEE MUG #901)                1
148  0.031043             (ROK PLASTIC MUG MC1)                1
77   0.029930                (KENPOLY MUG #321)                1
139  0.027866          (PARAS TROPHY MUG #1201)                1
84   0.025151        (KENSTAR COLORED MUG #906)                1
79   0.025006                (KENPOLY MUG #328)                1
51   0.024012        (ESSENCE WHT MUG 32CL 1PC)                1
80   0.021846                 (KENPOLY MUG 324)                1
69   0.020210            (JOLLY F MUG C342-3.5)                1
125  0.019868   (NICE MUG BYD-CUP-4002-2 PROMO)                1
99   0.019636  (MINIMAX S/S MILKMUG 9CM SMM009)                1
149  0.019285             (ROK PLASTIC MUG MC2)                1
0    0.019088                     (ADIX OK MUG)                1
112  0.016725          (MIXXOS COFFEE MUG C003)                1
70   0.016177           (KENPOLY BEER MUG #326)                1
124  0.016005   (NICE MUG BYD-CUP-4002-1 PROMO)                1
107  0.015149           (MIXXOS COFFEE MUG A-2)                1
93   0.013805         (MINIMAX PLAIN MUG PD032)                1

In [ ]:
## converting the data into Dataframe
trans=pd.DataFrame(freq)
trans2=trans.sort_values(by='number of items',ascending=0)

In [ ]:
## removing the forezenset
col=['itemsets']
trans2[col]=trans2[col].applymap(lambda x:tuple(x))
print(trans2.head())

      support  ... number of items
192  0.004410  ...               2
191  0.001824  ...               2
132  0.001439  ...               1
123  0.001190  ...               1
124  0.016005  ...               1

[5 rows x 3 columns]

In [ ]:
## exporting the data into csv
trans2.to_csv('trans34.csv')

In [ ]:
### calculating the rules
rules = association_rules(freq, metric='lift', min_threshold=0.1)
rules2=rules.sort_values('confidence', ascending=False)

In [ ]:
### writing into csv
df=pd.DataFrame(rules2)
df

                       antecedents  ... conviction
2  (NICE MUG BYD-CUP-4002-1 PROMO)  ...   1.352930
3  (NICE MUG BYD-CUP-4002-2 PROMO)  ...   1.264747
0        (KENSTAR COFFEE MUG #901)  ...   0.981344
1        (KENSTAR LOVELY MUG #903)  ...   0.989998

[4 rows x 9 columns]

In [ ]:
## removing the forezenset
cols=['antecedents','consequents',]
df[cols] = df[cols].applymap(lambda x: tuple(x))
print (df)

                        antecedents  ... conviction
2  (NICE MUG BYD-CUP-4002-1 PROMO,)  ...   1.352930
3  (NICE MUG BYD-CUP-4002-2 PROMO,)  ...   1.264747
0        (KENSTAR COFFEE MUG #901,)  ...   0.981344
1        (KENSTAR LOVELY MUG #903,)  ...   0.989998

[4 rows x 9 columns]

In [ ]:
## exporting the data into csv
df.to_csv('rules.csv',)

Doing a freqency and monetary analysis to see how frequently customers buys mugs and   how much they spend

In [ ]:
### our data
data.head()

     BRAND                    DESCRIPTION  ...  WEEK month
0  KENSTAR        KENSTAR LOVELY MUG #903  ...    14     3
1      HSM   HSM PORCELAIN 10 OZ MUG 1934  ...    14     3
2      HSM   HSM PORCELAIN 10 OZ MUG 1934  ...    14     3
3      NEW     NEW MORNING WHITE MUG 32CL  ...    14     3
4     NICE  NICE MUG BYD-CUP-4002-1 PROMO  ...    14     3

[5 rows x 12 columns]

In [ ]:
data.shape

(145791, 12)

In [ ]:
### looking for DUPLICATES
data.duplicated().any()

True

In [ ]:
### looking for null values and deal with them
data.isnull().sum()

BRAND                0
DESCRIPTION          0
TRANSACTIONID        0
RECEIPTID            0
STORE                0
QUANTITY             0
PRICE                0
GROSSAMOUNT          0
ID                   0
MEMBERID         42507
WEEK                 0
month                0
dtype: int64

In [ ]:
### drop all the null values
data=data.dropna()
data.shape

(103284, 12)

In [ ]:
#check frequency of customer means how many transaction has been done..
frequency_df = data.copy()
frequency_df.drop_duplicates(subset=['MEMBERID','RECEIPTID'], keep="first", inplace=True) 
frequency_df = frequency_df.groupby('MEMBERID',as_index=False)['RECEIPTID'].count()
frequency_df.columns = ['MEMBERID','Frequency']
frequency_df.sort_values(by='Frequency',ascending=0)

          MEMBERID  Frequency
26639  6.00366e+07         13
25650  6.00109e+07         10
14366   9.4499e+06         10
58224      9420982         10
6069   9.11509e+06          9
...            ...        ...
25134  9.92447e+06          1
25135  9.92453e+06          1
25136  9.92454e+06          1
25137  9.92457e+06          1
70615     99517189          1

[70616 rows x 2 columns]

In [ ]:
## converting the frequency into a dataframe and exporting the data
frequency_purchase=pd.DataFrame(frequency_df)
frequency_purchase.to_csv('frequency_df.csv')

In [ ]:
#check summed up spend of a customer with respect t

monetary_df=data.groupby('MEMBERID',as_index=False)['GROSSAMOUNT'].sum()
monetary_df.columns = ['MEMBERID','Monetary']
monetary_df.sort_values(by='Monetary',ascending=0)

          MEMBERID  Monetary
5789   9.10452e+06  179000.0
60840      9528763  118560.0
49          600304   77715.0
65069      9691275   63000.0
55943      9340701   55615.0
...            ...       ...
34309  1.00383e+08      13.0
21477  9.74168e+06      13.0
29771   1.0009e+08      13.0
10091  9.28209e+06      13.0
33290  1.00313e+08      13.0

[70616 rows x 2 columns]

In [ ]:
### exporting the data
monetary=pd.DataFrame(monetary_df)
monetary.to_csv('monetary.csv')

In [ ]:
#### merging both monetary and frequency
fm=frequency_df.merge(monetary_df,left_on='MEMBERID',right_on='MEMBERID')
fm.sort_values(by='Monetary',ascending=0).head(20)

          MEMBERID  Frequency   Monetary
5789   9.10452e+06          1  179000.00
60840      9528763          2  118560.00
49          600304          3   77715.00
65069      9691275          1   63000.00
55943      9340701          1   55615.00
45697    100457332          2   50100.00
61838      9567006          3   49080.00
37056   1.0057e+08          1   47898.00
29301  1.00064e+08          2   44235.00
49577     60036414          3   41505.00
63024      9612187          2   35869.74
60084      9497746          1   35800.00
15511  9.49775e+06          1   35800.00
53809      9247282          1   32070.00
19751   9.6708e+06          1   30240.00
16292  9.53179e+06          2   30240.00
16144  9.52527e+06          9   29906.00
37127  1.00573e+08          1   29760.00
27455  9.94803e+07          6   29102.84
26417  6.00309e+07          6   28162.98

## **using R to do Association mining**

In [ ]:
## activate R
%load_ext rpy2.ipython

/usr/local/lib/python3.6/dist-packages/rpy2/robjects/pandas2ri.py:14: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import Index as PandasIndex
/usr/local/lib/python3.6/dist-packages/rpy2/robjects/pandas2ri.py:34: UserWarning: pandas >= 1.0 is not supported.
  warnings.warn('pandas >= 1.0 is not supported.')

In [ ]:
### load our data
%%R
data_<-read.csv('/content/mugs_data.csv')
head(data_)

    BRAND                   DESCRIPTION TRANSACTIONID       RECEIPTID STORE
1 KENSTAR       KENSTAR LOVELY MUG #903        646620 011-03100613485 Ndogo
2     HSM  HSM PORCELAIN 10 OZ MUG 1934        678917 011-05100644198 Ndogo
3     HSM  HSM PORCELAIN 10 OZ MUG 1934        469720 011-01100440105 Ndogo
4     NEW    NEW MORNING WHITE MUG 32CL        678769 011-04100645715 Ndogo
5    NICE NICE MUG BYD-CUP-4002-1 PROMO        678627 011-05100643925 Ndogo
6     HSM  HSM PORCELAIN 10 OZ MUG 1932        678434 011-05100643741 Ndogo
  QUANTITY PRICE GROSSAMOUNT         ID  MEMBERID WEEK month
1        1    70          70 1247543999 100144198   14     3
2        1    85          85 1247547058   8053566   14     3
3        1    85          85 1247543658   9537113   14     3
4       12   255        3060 1247546408   9358513   14     3
5        3    95         285 1246966776   9757906   14     3
6        6    85         510 1246966117   9690414   14     3

In [ ]:
### install packages
%%R
install.packages('arules')
install.packages('dplyr')
install.packages('plyr')
install.packages('import')
`%>%`<-import::from(dplyr,'%>%')
install.packages('data.table')

In [ ]:

# CREATE TRANSACTION FORMT DATA
%%R
data_%>%
  plyr::ddply(.,c('RECEIPTID'),function(df){paste0(df$DESCRIPTION%>%unique()%>%sort(),collapse = ';')})%>%
  subset(select=-c(RECEIPTID))%>%
  setNames('items')%>%
  data.table::fwrite(paste0(Sys.getpid(),'baskets.csv'),quote = F,append = F)

transaction_fmt<-arules::read.transactions(file = paste0(Sys.getpid(),'baskets.csv'),format = 'basket',header = T,sep = ';',quote = '')

file.remove(paste0(Sys.getpid(),'baskets.csv'))

[1] TRUE

In [ ]:
# APPLY ARULES
%%R
arules::apriori(transaction_fmt,parameter = list(supp=0.001,minlen=2,conf=.000001))%>%
  arules::DATAFRAME()%>%
  dplyr::mutate(LHS=gsub(pattern = '[{}]',replacement = '',x = LHS),RHS=gsub(pattern = '[{}]',replacement = '',x = RHS))%>%
  write.csv('data.csv')
RULES<-read.csv('data.csv')
RULES

Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
      1e-06    0.1    1 none FALSE            TRUE       5   0.001      2
 maxlen target  ext
     10  rules TRUE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 68

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[368 item(s), 68909 transaction(s)] done [0.03s].
sorting and recoding items ... [185 item(s)] done [0.00s].
creating transaction tree ... done [0.04s].
checking subsets of size 1 2 done [0.00s].
writing ... [6 rule(s)] done [0.00s].
creating S4 object  ... done [0.01s].
  X                           LHS                           RHS     support
1 1 NICE MUG BYD-CUP-4002-1 PROMO NICE MUG BYD-CUP-4002-2 PROMO 0.004658317
2 2 NICE MUG BYD-CUP-4002-2 PROMO NICE MUG BYD-CUP-4002-1 PROMO 0.004658317
3 3        PARAS TROPHY MUG #1201              KENPOLY MUG #321 0.001117416
4 4              KENPOLY MUG #321        PARAS TROPHY MUG #1201 0.001117416
5 5       KENSTAR COFFEE MUG #901       KENSTAR LOVELY MUG #903 0.001843010
6 6       KENSTAR LOVELY MUG #903       KENSTAR COFFEE MUG #901 0.001843010
  confidence   coverage       lift count
1 0.26507019 0.01757390 13.3814811   321
2 0.23516484 0.01980873 13.3814811   321
3 0.03574745 0.03125862  1.0013499    77
4 0.03130081 0.03569926  1.0013499    77
5 0.04828897 0.03816628  0.7526679   127
6 0.02872653 0.06415708  0.7526679   127